* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 99vw;
  /* height: 98vh; */
  margin: 0 auto;
  text-align: center;
}

main {
  /* border: 1px solid grey; */
  width: 100%;
  border-radius: 6px;
  padding: 6px;
  margin: auto;
}

.heading h1 {
  text-decoration: underline;
  margin-bottom: 10px;
}

.input {
  margin: 10px;
}

.input input {
  width: 100%;
  height: 15vh;
  text-align: right;
  font-size: 6vh;
  font-weight: bold;
  box-sizing: border-box;
  padding: 10px;
}

.warningMsg {
  height: 8vh;
  visibility: hidden;
  color: red;
  text-align: center;
  font-size: x-large;
}

.btnArea {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  place-items: center;
}

.btnArea button {
  height: 20vw;
  width: 20vw;
  border: none;
  border-radius: 50%;
  padding: 6px;
  font-size: 9vw;
  font-weight: bold;
  cursor: pointer;
  background-color: #d4d4d4;
}

.btnArea :nth-child(1) {
  background-color: #622727;
  color: #fff;
}

.btnArea :nth-child(4),
.btnArea :nth-child(8),
.btnArea :nth-child(12),
.btnArea :nth-child(16) {
  /* color: green; */
  background-color: #5bb3f0;
}

.btnArea :nth-child(20) {
  background-color: #68b31a;
  color: #fff;
}

@media screen and (min-width: 400px) {
  body {
    max-width: 400px;
    height: 98vh;
    margin: 0 auto;
    text-align: center;
  }

  main {
    border: 1px solid grey;
    height: 100%;
    width: auto;
    border-radius: 6px;
    padding: 6px;
    margin: auto;
  }

  .btnArea button {
    height: 12vh;
    width: 12vh;
    border: none;
    border-radius: 50%;
    padding: 6px;
    font-size: xx-large;
    font-weight: bold;
    cursor: pointer;
    background-color: #d4d4d4;
  }
}
